<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f6fc; /* Light Blue */
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff; /* White */
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .div {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }

        .a {
            display: block;
            padding: 10px;
            background-color: #cce4f6; /* Light Blue */
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            color: #1e75e6; /* Dark Blue */
            transition: background-color 0.3s ease;
        }

        .a:hover {
            background-color: #b3d8f3; /* Lighter Blue */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>All the Tasks</h1>
        <div class="div">
            <a class="a" target="_blank" href="/dashboard/dynemictable">Dynamic Table</a>
            <a class="a" target="_blank" href="/dashboard/Javascript_Events">Javascript Events</a>
            <a class="a" target="_blank" href="/dashboard/KuKucube">KuKu Cube</a>
            <a class="a" target="_blank" href="/dashboard/staticgrid">Static Grid</a>
            <a class="a" target="_blank" href="/dashboard/Grid_With_Calendar">Grid With Calendar</a>
            <a class="a" target="_blank" href="/dashboard/result">Result Grid</a>
            <a class="a" target="_blank" href="/dashboard/dynemicgrid_main">Dynamic Grid</a>
            <a class="a" target="_blank" href="/dashboard/Searching">Searching</a>
            <a class="a" target="_blank" href="/dashboard/Delimitersearch">Delimiter Searching</a>
            <a class="a" target="_blank" href="/dashboard/ehya_tamplate">ehya tamplate</a>
            <a class="a" target="_blank" href="/dashboard/Awan_Hoster_template">Awan Hoster template</a>
            <a class="a" target="_blank" href="/dashboard/hirex_tamplate">hirex tamplate</a>
            <a class="a" target="_blank" href="/dashboard/job_application_form">CRUD of Job Application</a>
            <a class="a" target="_blank" href="/dashboard/timezone">Time Zone Converter</a>
            <a class="a" target="_blank" href="/dashboard/jsonplaceholder">Json Plcaeholder Api</a>
        </div>
    </div>
</body>
</html>