<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add row column </title>
   <style>
       tr:nth-child(odd)>td:nth-child(odd){
        background-color: rgb(20, 13, 221);
       }
       tr:nth-child(even)>td:nth-child(even){
        background-color: rgb(20, 13, 221);
       }
       tr:nth-child(even)>td:nth-child(odd){
        background-color: rgb(22, 239, 239);
       }
       tr:nth-child(odd)>td:nth-child(even){
        background-color: rgb(22, 239, 239);
       }
        tr{
            padding: 1cm;
        }
        td{
            padding: 1cm;
        }
        .btn{
            background-color:coral;
            color:black;
            height: 2cm;
            width: 2cm;
        }
   </style>
</head>
<body style="padding: 1cm;">     
    <div>
        <input class="btn" type="button" value="add row" onclick="Addrow()">
        <input class="btn" type="button" value="sub row" onclick="Subrow()">
    </div>
    <div>
        <input class="btn" type="button" value="add col" onclick="Addcol()">
        <input class="btn" type="button" value="sub col" onclick="Subcol()">
    </div>
                    <table id="tb" border="2">
                        <tr id="tr">
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
        <script>
            function Addrow(){
               let tb = document.getElementById("tb");
               let row = tb.insertRow(tb.rows.length);
                for(i=0;i<tb.rows[0].cells.length;i++){
                    row.insertCell(i)
                }
            }
            function Subrow(){
                let tb = document.getElementById("tb");
                
                if(tb.rows.length>2)
                {
                    tb.deleteRow(tb.rows[0].length)
                }
            }
            function Addcol(){
                let tb = document.getElementById("tb");
                
                let rowcount = tb.rows.length;
                let colcount = tb.rows[0].cells.length;
                for(i=0;i<rowcount;i++){
                    row = tb.rows[i]
                    row.insertCell(colcount-1)

                }
            }
            function Subcol(){
                let tb = document.getElementById("tb");
                 
                let rowcount = tb.rows.length;
                let colcount = tb.rows[0].cells.length;

                if(colcount>2){
                    for(i=0;i<rowcount;i++)
                    {
                    row = tb.rows[i]
                    row.deleteCell(colcount-1)
                }    
            }
        }
        </script>
</body>
</html>