<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            height: 500px;
            width: 500px;
            margin: auto;
            border:2px solid #4CAF50;
        }
        .box{
            padding-top:50%;
            margin: auto;
        }
        a{
            padding: 5px;
            border: 1px solid white;
            font-size: 30px;
            background-color: #4CAF50;
            
        }
        #id{
            margin-top: 20px;
            font-size: 20px;
        }
        #btn{
            margin-top: 20px; 
            font-size: 20px;
            background-color: #4CAF50;
        }
    </style>
</head>
<body>
    <center><h1>Job Application Form Details</h1></center>  
    <div class="container">
        <div class="box">

            <form>
                    <a name="btnnew"  onclick="newform()" > New Form </a>
                    <a name="btnupdate" onclick="enableid()"> Update Form</a>
                    <input type="text" placeholder="application_id" name="id" id="id" style="visibility: hidden;">
                    <a  onclick="update()" id="btn" style="visibility: hidden;">GO</a>
            </form>
        </div>
    </div>
    <script>
        var id = document.getElementById('id');
    var btn = document.getElementById('btn')
    
    function enableid(){
        id.style.visibility = "visible";
        btn.style.visibility = "visible";
    }
    function update() {
        app_id = id.value;
        window.location.href=`/dashboard/job_application_form_main/updateform/?id=${app_id}`;
    }
    function newform() {
        window.location.href=`/dashboard/job_application_form_main/newform`;
    }
</script>
    </body>
</html>