
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #pass {
            width: 400px;
            padding: 30px;
            background-color: #fff;
            border-radius: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .password,
        .repassword {
            margin-bottom: 20px;
        }

        .password input,
        .repassword input {
            width: calc(100% - 20px);
            border: 2px black solid;
            padding: 10px;
            border-radius: 4px;
        }

        .a {
            display: block;
            margin: auto;
            text-align: center;
            padding: 10px 20px;
            background-color: #007bff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .a:hover {
            background-color: #0056b3;
        }

        #suc {
            text-align: center;
            margin-top: 20px;
        }

        .login {
            text-align: center;
            margin-top: 20px;
        }

        .login a {
            color: blue;
            text-decoration: none;
        }

        .login a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="div">
        <form id="pass">
            <h2>Create Password</h2>
            <div class="password">Enter Password: <input type="password" name="password" id="password"></div>
            <div class="repassword">Resubmit Password: <input type="password" name="repassword" id="repassword"></div>
            <a class="a" onclick="submitdata()">SUBMIT</a>
            <input type="text" style="visibility: hidden;" name="email" value="<%= email %>">
            <div id="suc"></div>
            <div class="login"><a onclick="login()">Login</a></div>
        </form>
    </div>
    <script>
        var email = '<%= email %> ';
        async function submitdata() {
            //FETCH URL AND POST THE DATA 
            var form = document.getElementById('pass');
            const formData = new URLSearchParams(new FormData(form));
            var url = `${location.origin}/create_password`;
            var res1 = await fetch(url, {
                method: "POST",
                body: formData,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded"
                }
            });
            var response = await res1.json();
            if (response.success == "yes") {
                document.getElementById('suc').innerHTML = 'you have been registered now you can login by clicking below link';
            }
            else{
                document.getElementById('suc').innerHTML = 'enter same password!!';
            }
        }
        function login() {
            window.location.href = "/login";
        }
    </script>
</body>

</html>