<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #regform {
        background-color: #fff;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    #regform h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .input-container label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .input-container input {
        width: calc(100% - 10px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .input-container input:focus {
        outline: none;
        border-color: #007bff;
    }

    .button-container {
        text-align: center;
        margin-bottom: 15px;
    }

    #submit {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #link {
        cursor: pointer;
    }

    #submit:hover {
        background-color: #0056b3;
    }

    .login {
        color: purple;
        cursor: pointer;
    }
</style>
</head>

<body id="body">
    <form id="regform">
        <h2>Registration</h2>
        <div class="input-container">
            <label for="fname">Name:</label>
            <input type="text" name="fname" id="fname">
        </div>
        <div class="input-container">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="input-container">
            <label for="ukdetail">Friend Name(for password forget):</label>
            <input type="text" name="ukdetail" id="ukdetail">
        </div>
        <div class="button-container">
            <a id="submit" onclick="submitdata()">Register</a>
        </div>
        <div class="login" onclick="login()">Already have an account? Login</div>
        <div id="div" style="margin-top:10px;margin-bottom:10px;"></div>
        <a onclick="activate()" id="link" style="visibility: hidden;position: relative;top: 10px;"></a>
    </form>
    <script>
        var input = document.getElementById("body");
        input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                submitdata();
            }
        });

        var div = document.getElementById('div');
        var link = document.getElementById('link');
        var submit = document.getElementById('submit');
        var form = document.getElementById('regform');
        var fname = document.getElementById('fname');
        var email = document.getElementById('email');
        var ukdetail = document.getElementById('ukdetail')

        async function submitdata() {
            if (form[0].value == '' || form[1].value == '' || form[2].value == '') {
                fname.style.backgroundColor = "coral";
                email.style.backgroundColor = "coral";
                ukdetail.style.backgroundColor = "coral";
            } else {
                var emailValue = form[1].value;
                var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                if (!emailValue.match(mailformat)) {
                    div.style.color = "red";
                    div.innerHTML = "Wrong Mail Format";
                } else {
                    const formData = new URLSearchParams(new FormData(form));
                    var url = `${location.origin}/reg_data`;
                    try {
                        var res1 = await fetch(url, {
                            method: "POST",
                            body: formData,
                            headers: {
                                "Content-type": "application/x-www-form-urlencoded"
                            }
                        });
                        var response = await res1.json();
                        if (response.exist == '') {
                            link.innerHTML = `${location.origin}/activate_link/` + response.randomcode;
                            link.setAttribute("name", response.randomcode);
                            link.style.visibility = "visible";
                            link.style.color = "blue";
                        } else {
                            div.innerHTML = "";
                            link.innerHTML = 'email already exists. Please login or use another email ID';
                            link.style.visibility = "visible";
                            link.style.color = "red";
                        }
                    } catch (error) {
                        console.error("Error:", error);
                        div.innerHTML = "An error occurred while submitting the form.";
                        div.style.color = "red";
                    }
                }
            }
        }
        async function activate() {
            const email = document.getElementById('email').value;
            var code = document.getElementById('link').name;
            var url = await fetch(`${location.origin}/activate_link/?code=${code}&email=${email}`);

            var response = await url.json();
            if (response.code == '') {
                if (response.expire == 'no') {
                    window.location.href = `password/?email=${email}`;
                } else {
                    document.getElementById('div').innerHTML = "Activation link is expired";
                    document.getElementById('div').style.color = "red";
                }
            }
            else {
                document.getElementById('div').innerHTML = "Invalid link";
                document.getElementById('div').style.color = "red";
            }
        }

        function login() {
            window.location.href = `login`;
        }
    </script>
</body>

</html>