.form{
    padding: 100px;
    color: rgb(22, 92, 109);
    max-width: 1000px;
    text-align: center;
    background-color: blanchedalmond;
}
.thisisform{
    color: white;
    background-color: DodgerBlue;
    padding: 50px;
    font-family: Arial;
    width: 400px;
    margin: 50px;
}
.btn{
    padding: 20px;
}