*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
max-width: 1400px;
margin: auto;

}
.color1{
    /* width: 100%; */
    background-color: #F3F7FD;
}
.menubar_sec{
    margin: auto;
}
.menubar{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  
}
.menubar_menus{
    text-align: center;
    padding-bottom: 20px;
    padding-right:50px;
}
.menubar_menus a:not(.getitnow){
    color:#5A7184;
    margin-right: 20px;
    float: left;
    text-align: center;
    padding: 1ch;
    text-decoration: none;
    font-size:17px;
}
.getitnow{
    padding: 1ch;
    font-size:17px;
    color: #1565D8;
    border: 2px solid #1565D8 ;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    float: left;
    text-align: center;
}
.arrow {
    border: solid #5A7184;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down{
    transform: rotate(45deg);;
    -webkit-transform: rotate(45deg);
}
.logo{
    padding-left: 50px;
}
.get_con_sec{
    margin: auto;
}
.con_row{
    display: flex;
    flex-wrap: wrap;
}
.con_col{
    width: 50%;
    padding-top: 100px;
    word-wrap: normal;
}
.con_heading{
    padding-top: 80px;
    font-size:50px
}
.con_col > p{
    font-size: 20px;
    color:#5A7184;
    margin-bottom: 2cm;
    max-width: 500px;
}
.consultation{
    padding: 10px;
    background-color: #1565D8;
    color: white;
    border-radius:5px ;
}
.ser_sec{
    padding-top: 20px;
    margin:auto ;
    background-color:#F3F7FD;
}
.ser_txtgrp{
    text-align: center;
}
.ser_txtgrp > .ser_link {
    color: #36B37E;
}
.ser_info{
    color:#5A7184;
    display: inline;
    margin:30px;
    margin:30px;
}
.func{
    padding-top: 1cm;
}
.ser_card{
    padding-top: 30px;
}
.ser_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ser_col{
    max-width:33.3%;
    border-radius: 3px;
    padding:10px;
}
.ser_card > .ser_row > .ser_col > .cardi{
    border:1px solid #bbc4cc;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    max-width: 300px;
    padding-left: 35px;
    text-align: left;
    padding-bottom: 30px;
}
.ser_card > .ser_row > .ser_col > .cardi > img{
    margin-top: 30px;
    padding: 3px;
    border : 1px solid #5A7184;
    border-radius: 4px;
}
.cardi > p{
    color :#5A7184;
    font-size: 15px;
    padding-bottom: 15px;
}
.cardi > .link {
    font-weight: 1000;
    text-decoration: solid;
    color: #3054b9;
    margin-bottom: 10px;
}
.tip_sec{
    padding-top: 20px;
    margin: auto;
}
.tip_link{
    color: #36B37E;
}
.ser_info{
    color: #5A7184;
}
.tip_card{
    padding-top: 30px;
}
.tip_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tip_col{
    max-width: 50%;
    /* justify-content: space-between; */
    padding:10px;
}
.left_content{
    height: 600px;
    width: 500px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('Image.png');
    border-radius: 10px;
}
.right_content{
    margin-right:50px;
    height: 600px;
    width: 500px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('Image2.png');
    border-radius: 10px;
}
.img_con{
    max-width: 490px;
    padding-top: 450px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.benefits_sec{
    padding-top: 2cm;
    margin: auto;
}
.bene_row{
    display: flex;
    flex-wrap: wrap;
}
.bene_col{
    width: 33.3%;
    padding-left: 100px;
}
.bene_link{
    color: #36B37E;
}
.benefits_sec > .bene_row > .bene_col > img{
    margin-top: 30px;
    padding: 3px;
    border : 1px solid #5A7184;
    border-radius: 4px;
}
.benefits_sec > .bene_row > .bene_col > p{
    color : #5A7184;
}
.features{
    margin-bottom: 1cm;
}
.ft_row{
    display: flex;
    flex-wrap: wrap;
}
.ft_col{
    width: 33.3%;
    padding-left: 100px;
}

.features > .ft_row > .ft_col > p{
    max-width: 300px;
    color: #5A7184;
}
.features > .ft_row > .ft_col > img{
    margin-top: 30px;
    padding: 3px;
    border : 1px solid #5A7184;
    border-radius: 4px;}
    .rat_sec{
        margin-top: 50px;
    }
    .rat_sec{
        margin-top: 1cm;
    }
    .rat_row{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin-left: 250px;
    }
    .rat_col{
        width: 33.3%;
    }
    .strong{
        font-weight: bold;
    }
    .rat_row > .rat_col >.cardi >.avtars{
       margin-left: 30px;
    }
    .rat_row > .rat_col >.cardi > .content{
        margin-top: 5px;
        max-width: 200px;
        text-align: center;
    }
    .rat_col > .cardj > .heading {
        font-size: 25px;
        font-weight: bold;
    }
    .stars{
        margin-top: 15px;
        margin-left: 20px;
        align-items: center;
    }
   .rat_col > .content {
    justify-content: center;
    max-width: fit-content;
   }
   .rat_col > .content > .img {
    margin: auto;
   }
   footer{
    background-color: #183B56;
    margin-top: 2cm;
    padding-bottom: 2cm;
   }
   footer > .footer_sec {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 1cm;
    display: flex;
    justify-content: space-between;
   }
   footer > .footer_sec > .social{
    max-width: 250px;
   }
   footer >.footer_sec > .social > .social_content {
    color: #5A7184;
   }
  .social_logos > *{
    padding-right: 10px;
   }
   footer >.footer_sec > .info > h2{
        font-weight: bold;
        color: white;
        font-size: 30px;
   }
footer >.footer_sec > .info >.information > .start{
    padding-top :10px;
    padding-bottom :10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1565D8;
    color: white;
    border-radius:5px ;
}
footer >.footer_sec > .info >.information > .inp{
    padding-top :10px;
    padding-bottom :10px;
    padding-left: 25px;
    padding-right: 25px;
}
footer > .footer_sec > .info{
    max-width: 800px;
    margin-right: 300px;
}
footer > .footer_sec > .info > .copy{
    margin-top:30px;
    color: #5A7184;
    margin-left: 50px;
}

   